__pycache__/classes.cpython-37.pyc
.vscode/.ropeproject/config.py
.vscode/.ropeproject/objectdb
__pycache__/config.cpython-37.pyc
__pycache__/game_screen.cpython-37.pyc
__pycache__/initial_screen.cpython-37.pyc
__pycache__/over_screen.cpython-37.pyc
